<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/singup" method="POST" enctype="multipart/form-data">
            <input type="text" placeholder="Your email" name="email">
            <br><br>
            <input type="text" placeholder="Your passworld" name="password">
            <br><br>
            <input type="file" name="profile">
            <br><br>
            <button>Sign Up</button>
        </form>
    </body>
</html>